.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 330px));
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 2rem;
}