.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 330px));
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 2rem;
}

@media(max-width: 974px) {
    .card-wrapper {
        grid-template-columns: repeat(3, minmax(230px, 330px));
    }
}

@media(max-width: 775px) {
    .card-wrapper {
        grid-template-columns: repeat(2, minmax(230px, 330px));
    }
}

@media(max-width: 498px) {
    .card-wrapper {
        grid-template-columns: repeat(1, minmax(280px, 380px));
    }
}